*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 100%;
}

.middle-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 100px;

}

button{
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  text-align: center;
  padding: 8px 15px;
}

.btn-nero{
  color: white;
  background-color: black;
}

.btn-blu{
  color: white;
  background-color: #8FA1E1;
  margin-top: 20px     ;
}

/* HEADER */
header{
  padding: 20px 0;
  background-color: #265EE8;
}
.header-container{
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
}
.logo, .btn-header{
 width: 20%;
}

.btn-header{
  text-align: right;
}

.logo span img{
  text-align: left;
  height: 20px;
}

.lista-header{
  width: 60%;
}

.lista-header ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}

.lista-header ul li{
  color: white;
}

/* /HEADER */

/* MAIN */

.jumboscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}
.hight-page{
  width: 50%;
}

.titolo, .initial-p{
  color: white;
  text-align: center;
}
.titolo{
  font-size: 1.5rem;
  padding: 40px;
}

.initial-p{
  font-size: .9rem;
}

.initial-btn{
  text-align: center;
  margin-top: 10px;
}


.big-photo{
  width: 60%;
  display: flex;
  justify-content: center;
}


.little-text{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.little-text h2{
  font-size: 2rem;
}

.little-text p, .little-text h2{
  margin: 20px 80px;
}

.container-gray{
  background-color: #F6F6F6;
}

.large-part{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}
.final-text,
.final-img,
.final-btn{
  width: 80%;
}

.title-final-text h2,
.p-final-text p{
  text-align: center;
  margin-top: 20px;
}


.title-final-text h2{
  font-size: 2rem;
}

.final-img{
  display: flex;
  justify-content: center;
}

.final-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-btn div h3{
  background-image: url(../img/stars.svg);
  background-size: cover;
}
/* 
.final-btn div button{
  text-align: center;
} */




/* /main */

/* FOOTER */
.final-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-color: black;
}

.final-container{
  display: flex;
  height: 500px;
  width: 80%;
  background-color: brown;
}

.social-network{
  width: 35%;
  height: 500px;
  background-color: salmon;
}

.final-list{
  width: 16.25%;
  height: 500px;
  background-color: teal;
}

.final-list ul{
  list-style: none;
}
.footer-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: black;
  color: white;
}

.footer-btn{
  display: flex;
  justify-content: space-between;
  border-top: 2px solid white ;
  width: 80%;
  background-color: orchid;
}

